# Sets

In [2]:
l = [1,2,3,3]
{i for i in l} # One way to create a set

{1, 2, 3}

In [4]:
a = set(l) # Another way to create a set
a

{1, 2, 3}

In [6]:
b = {3,5}
b

{3, 5}

In [8]:
1 in a

True

In [15]:
print([a,b])
print(set([a,b])) # No, it appears that we cannot have sets of sets

[{1, 2, 3}, {3, 5}]

TypeError: unhashable type: 'set'

In [18]:
b.issubset(a)

False

In [19]:
{1,2}.issubset(a)

True

In [20]:
a.issuperset({1,2}) # As above, but the other way around

True

In [21]:
a.union(b)

{1, 2, 3, 5}

In [22]:
a.intersection(b)

{3}

In [23]:
a.difference(b)

{1, 2}

In [3]:
a = {1,2,3}
print(sum(a))
b = [1,2,3]
print(sum(b))

6
6

In [26]:
print(b)
b=={3,5} # Sets are compared not as pointers, but by value

{3, 5}

True

In [32]:
# But same for lists, actually
test_list1 = [1, 2, 4, 3, 5] 
test_list2 = [1, 2, 4, 3, 5]
test_list1==test_list2

True

In [35]:
l = [3,2,5]
m = list(set(l)) # Transition to set orders a list (assuming no unique values)
print(l)
print(m)
set(l)==set(m)

[3, 2, 5]
[2, 3, 5]

True

In [36]:
list(set([1,1,1,2,6,6,6])) # Non-unique values simply disappear

[1, 2, 6]