# Playing with pandas

In [1]:
import pandas as pd

In [22]:
d = pd.DataFrame({'x' : [1,2,3], 'y' : [4,3,1], 'a': ['dog','cat','monk']})
d

   x  y     a
0  1  4   dog
1  2  3   cat
2  3  1  monk

In [23]:
print(d.x[1]) # Good way to read
d.x[1] = 5    # Bad way to write! Produces a warning, but for some reason still works.
d

2

C:\Users\Sysadmin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   x  y     a
0  1  4   dog
1  5  3   cat
2  3  1  monk

In [24]:
print(d['x'][1])
d['x'][1] = 7 # Same thing, only looks even worse. WARNING, yet still works, even though it shouldn't.
d

5

C:\Users\Sysadmin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   x  y     a
0  1  4   dog
1  7  3   cat
2  3  1  monk

In [25]:
print(d.x.iloc[1])
d.x.iloc[1] = 9 # WARNING; sometimes works, sometimes doesn't.
d

7

C:\Users\Sysadmin\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   x  y     a
0  1  4   dog
1  9  3   cat
2  3  1  monk

In [28]:
print(d.iloc[1].x) # Another chain slicing: good way to read, but bad way to write!
d.iloc[1].x = 2    # WARNING!!! This one actuall doesn't work at all!!
d

9

C:\Users\Sysadmin\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

   x  y     a
0  1  4   dog
1  9  3   cat
2  3  1  monk

In [29]:
d.iloc[1,0] = 6 # Good, legal way, based on row / column numbers.
d

   x  y     a
0  1  4   dog
1  6  3   cat
2  3  1  monk

In [30]:
print(d.loc[1,'x']) # Good, legal way, based on row / column labels.
d.loc[1,'x'] = 11
d

6

    x  y     a
0   1  4   dog
1  11  3   cat
2   3  1  monk

In [39]:
print(d.iloc[1])
type(d.iloc[1])

x     11
y      3
a    cat
Name: 1, dtype: object

pandas.core.series.Series

Finish this:
* https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-label
* https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#advanced